<!DOCTYPE html>
<!--suppress HtmlRequiredLangAttribute -->
<html {{ language_attributes | raw }}>
    {% block head %}
        {% include 'head.twig' %}
    {% endblock %}
    <body class="{{ body_class | raw }}">
        {% block header %}
            {{ action('after_body_open') }}
        {% endblock %}

        {% block base_content %}
            <p>
                This is a base template, which should never be used in live context.
                You can extend this template using the <a href="">Twig</a>-templating language for PHP.
            </p>

            <p>
                <a href="">You can read the full Twig documentation here.</a>
            </p>
        {% endblock %}

        {% block footer %}
            {{ action('wp_footer') }}
            {{ action('before_body_close') }}
        {% endblock %}
    </body>
</html>